$color-primary: #e62429;
$color-primary-light: #ee686c;
$color-primary-opacity: #d6030aa5;
 
$color-secondary:rgb(255, 99, 71);
$color-secondary-light: rgb(253, 174, 160);
 
$color-black: #151515;
$color-light-gray: rgb(199, 199, 199);
$color-dark-gray: rgb(100, 100, 100);
$color-white: #ffffff;
$color-white-opacity: #ffffff7b;